//
// Copyright (c) 2024 The ZMK Contributors
//
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

#

#define BASE 0
#define NUM 1
#define NAV 2
#define MOUS 3
#define SYM 4
#define RGB 5
#define GAME 6

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers {
        compatible = "zmk,conditional-layers";

        sym_layer {
            if-layers = <2 1>;
            then-layer = <4>;
        };
    };

    macros {
        set_game_layer: set_game_layer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 6 &rgb_ug RGB_COLOR_HSB(310,100,20)>;
            label = "SET_GAME_LAYER";
        };

        set_base_layer: set_base_layer {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&to 0 &rgb_ug RGB_COLOR_HSB(210,100,20)>;
            label = "SET_BASE_LAYER";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "base";
            bindings = <
&kp ESC    &kp N1  &kp N2    &kp N3    &kp N4     &kp N5                              &kp N6  &kp N7         &kp N8            &kp N9      &kp N0          &set_game_layer
&kp TAB    &kp Q   &kp W     &kp E     &kp R      &kp T                               &kp Y   &kp U          &kp I             &kp O       &kp P           &kp CAPS
&kp LSHFT  &kp A   &kp S     &kp D     &kp F      &kp G                               &kp H   &kp J          &kp K             &kp L       &kp APOSTROPHE  &kp RIGHT_SHIFT
&kp LCTRL  &kp Z   &kp X     &kp C     &kp V      &kp B   &kp C_MUTE     &kp C_PLAY   &kp N   &kp M          &kp COMMA         &kp DOT     &kp SEMI        &kp RIGHT_CONTROL
                   &kp LGUI  &kp LALT  &kp SPACE  &mo 1   &lt 5 ENTER    &lt 3 ENTER  &mo 2   &kp BACKSPACE  &kp LEFT_CONTROL  &caps_word
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp C_NEXT C_PREVIOUS>;
        };

        num_layer {
            display-name = "num";
            bindings = <
&studio_unlock   &kp F1     &kp F2  &kp F3    &kp F4  &kp F5                     &none            &none          &none   &none      &none            &none
&kp PRINTSCREEN  &none      &kp F7  &kp F8    &kp F9  &kp F12                    &kp KP_DIVIDE    &kp N7         &kp N8  &kp N9     &kp KP_SUBTRACT  &none
&kp LSHFT        &kp LC(Y)  &kp F4  &kp F5    &kp F6  &kp F11                    &kp KP_MULTIPLY  &kp N4         &kp N5  &kp N6     &kp KP_PLUS      &none
&kp LCTRL        &kp LC(Z)  &kp F1  &kp F2    &kp F3  &kp F10  &trans    &trans  &kp N0           &kp N1         &kp N2  &kp N3     &kp KP_DOT       &kp K_CALCULATOR
                            &none   &kp LALT  &none   &trans   &trans    &trans  &trans           &kp BACKSPACE  &kp N0  &kp COLON
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        nav_layer {
            display-name = "nav";
            bindings = <
&none   &none      &none         &none      &none      &none                        &trans     &trans    &trans    &trans     &trans         &trans
&trans  &kp HASH   &kp ASTERISK  &kp SLASH  &none      &none                        &kp PG_UP  &kp HOME  &kp UP    &kp END    &none          &trans
&trans  &kp LC(Y)  &kp LALT      &kp LCTRL  &kp LSHFT  &none                        &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &kp BACKSPACE  &trans
&trans  &kp LC(Z)  &kp LC(X)     &kp LC(C)  &kp LC(V)  &kp LC(Y)  &trans    &trans  &none      &none     &none     &none      &kp DELETE     &trans
                   &trans        &trans     &none      &trans     &trans    &trans  &trans     &none     &trans    &trans
            >;
        };

        mouse_layer {
            display-name = "mouse";
            bindings = <
&bootloader  &none      &none      &none      &none      &none                           &none           &none           &none           &none            &none          &none
&none        &none      &none      &none      &none      &none                           &msc SCRL_UP    &msc SCRL_LEFT  &mmv MOVE_UP    &msc SCRL_RIGHT  &none          &none
&trans       &kp LC(Y)  &kp LALT   &kp LCTRL  &kp LSHFT  &none                           &msc SCRL_DOWN  &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_RIGHT  &kp BACKSPACE  &none
&trans       &kp LC(Z)  &kp LC(X)  &kp LC(C)  &kp LC(V)  &kp LC(Y)  &trans       &trans  &none           &none           &none           &none            &kp DELETE     &none
                        &none      &trans     &mkp MCLK  &mkp LCLK  &mkp RCLK    &none   &none           &none           &none           &none
            >;
        };

        sym_layer {
            display-name = "sym";
            bindings = <
&none   &none            &none          &none             &none          &none                          &none       &none                 &none                  &none       &none              &none
&none   &kp HASH         &kp ASTERISK   &kp SLASH         &kp PIPE       &kp CARET                      &kp DOLLAR  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp UNDER   &kp DOUBLE_QUOTES  &none
&trans  &kp EXCLAMATION  &kp MINUS      &kp PLUS          &kp EQUAL      &kp PERCENT                    &kp HASH    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp AT      &kp QUESTION       &kp DOUBLE_QUOTES
&trans  &kp BACKSLASH    &kp LESS_THAN  &kp GREATER_THAN  &kp AMPERSAND  &kp TILDE    &trans    &trans  &kp AT      &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PERIOD  &kp COLON          &none
                         &none          &trans            &none          &trans       &trans    &trans  &trans      &none                 &none                  &none
            >;
        };

        rgb_layer {
            display-name = "rgb";
            bindings = <
&bt BT_CLR      &bt BT_SEL 0  &bt BT_SEL 1     &bt BT_SEL 2     &bt BT_SEL 3     &bt BT_SEL 4                       &none   &none  &none  &none  &none  &bootloader
&none           &none         &rgb_ug RGB_HUD  &rgb_ug RGB_HUI  &rgb_ug RGB_TOG  &rgb_ug RGB_EFF                    &none   &none  &none  &none  &none  &none
&none           &none         &rgb_ug RGB_BRD  &rgb_ug RGB_BRI  &rgb_ug RGB_SPD  &rgb_ug RGB_SPI                    &none   &none  &none  &none  &none  &none
&studio_unlock  &none         &rgb_ug RGB_SAD  &rgb_ug RGB_SAI  &none            &none            &trans    &trans  &none   &none  &none  &none  &none  &none
                              &none            &none            &none            &trans           &trans    &trans  &trans  &none  &none  &none
            >;
        };

        game_layer {
            display-name = "game";
            bindings = <
&kp ESC  &kp N5     &kp N1    &kp N2    &kp N3     &kp N4                              &kp N6  &kp N7         &kp N8            &kp N9      &kp N0          &set_base_layer
&kp T    &kp TAB    &kp Q     &kp W     &kp E      &kp R                               &kp Y   &kp U          &kp I             &kp O       &kp P           &kp CAPS
&kp G    &kp LSHFT  &kp A     &kp S     &kp D      &kp F                               &kp H   &kp J          &kp K             &kp L       &kp APOSTROPHE  &kp RIGHT_SHIFT
&kp B    &kp LCTRL  &kp Z     &kp X     &kp C      &kp V   &kp C_MUTE     &kp C_PLAY   &kp N   &kp M          &kp COMMA         &kp DOT     &kp SEMICOLON   &kp RIGHT_CONTROL
                    &kp LGUI  &kp LALT  &kp SPACE  &mo 1   &lt 3 ENTER    &lt 5 ENTER  &mo 2   &kp BACKSPACE  &kp LEFT_CONTROL  &caps_word
            >;
        };
    };
};
